:root {
    --startBtnHeight: 50px;
    --primary: #B70011;
    --secondary: #064A79;
    --tertiary: #AABA00;
    --clockDiameter: 200px;
}
body {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

.header {
    height: 70px;
    background-color: var(--primary);
}

.container {
    display: flex;
    
}

.left-panel {
    flex: 0 1 20%;
    background-color: blue;
}

.left-panel input {
    width: 100%;
}

.left-panel button {
    width: 100%;
}

.right-panel {
    flex: 0 1 90%;
    background-color: purple;
}

.clock {
    width: var(--clockDiameter);
    height: var(--clockDiameter);
    border-radius: 50%;
    border: solid thick var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: helvetica;
}

.buttons {

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--column {
    display: flex;
    justify-content: column;
}

.bar {
    width: 100%;
    border: solid 2px #4e4e4e;
}

.settings__button {
  border-radius: 5px;
  text-decoration: none;
  width: 100%;;
  height: 50px;
  background-color: #a0a0a0;
  color: #e2e2e2;
  font-family: helvetica;
  font-size: 24px;
  
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  
  box-shadow: -3px 4px rgba(66, 66, 66, 1)
}

.button__text {
  padding: 10px
}

.arrows {
  position: relative;
  border-radius: 5px;
  border-bottom-left-radius: 0;     border-top-left-radius: 0;
  background-color: #c3bfbf;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/* Divider for the arrows */
.arrows:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary);
}

.arrow__wrapper {
  padding: 0 10px;
  display:flex;
}

.arrow {
  border: solid var(--primary);
  border-width: 0 3px 3px 0;
  padding: 3px;
  display: inline-block;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}